.check {
}

.check form {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}
.heading {
  height: 90px;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  outline: 1px solid;
  border-radius: 10px;
}
.desc {
  height: 250px;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  outline: 1px solid;
  border-radius: 10px;
}

.noticeBtn {
  position: relative;
  left: 320px;
  display: flex;
  justify-content: center;
  width: 20%;
  border-radius: 15px;
  height: 35px;
  color: white;
  font-size: 25px;
  background-color: rgba(221, 160, 221, 0.667);
}
